<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MojServisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60239/MojServis.asmx" binding="basicHttpBinding"
                bindingConfiguration="MojServisSoap" contract="DLWSMServis.MojServisSoap"
                name="MojServisSoap" />
        </client>
    </system.serviceModel>
</configuration>